*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    
    background-color: #2B2B2B;
}

/* Navbar */

.navbar-toggler {
    border: none;
 }
ul{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}
.navbar{
    color: white;
}
.offcanvas-body, .offcanvas-header{
    background-color: #2B2B2B;
}



/*Text Style*/

.p1{
    font-size: 21px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
}
.h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 51px;
}
.p66{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #CCCCCC;
}
.h14{
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 22px;
}
.p67{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #CCCCCC;
}
.img1{
    
}



/* Buttons */

.btn77{
    background-color: #A259FF;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
.btn4{
    background-color: #A259FF;
    color: white;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    width: 130px;
}
.btn5{
    background-color: #A259FF;
    color: white;
    margin-top: -56px;
    margin-left: 250px;
    position: absolute !important;
    width: 178px;
    font-family: 'Work Sans', sans-serif;
}
 .btn6{
    background-color: #A259FF;
    color: white;
    display: none;
    font-family: 'Work Sans', sans-serif;
}
 .store{
  position: absolute;
  top: 45px;
}



/* Containers */

.div98{
   background-color: #3B3B3B;
   position: relative;
}
.bi{
    position: absolute;
    top: 25px;
    left: 20px;
}
.div1{
    position: relative;
}
#username, #email, #password{
    padding-left: 50px!important;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

/* Inputs */

::placeholder{
    color: black;
}
.bi, .bi-person{
    color: #2B2B2B;
}


  

/* RESPONSIVE */

@media screen and (max-width: 768px){

    .btn6{
        display: initial;
    }
    .btn5{
        display: none;
    }
    .img1{
        width: 392px;
        height: 302px;
    }
    .h1{
        font-size: 38px;
    }
    .p1{
        font-size: 16px;
    }
    .input1{
        min-width: 315px;
    }
    .bi{
        left: 45px;
    }
    .btn77{
        margin-left: 25px;
        min-width: 315px;
    }
}